# Modelling

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/Refdinal/insight-hustler/refs/heads/master/data/processed/data_preprocessed.csv")

In [3]:
df

,city_development_index,relevent_experience,education_level,experience,last_new_job,training_hours,gender_Female,gender_Male,gender_Other,enrolled_university_Full time course,...,company_size_Small,company_size_Unknown,company_type_Early Stage Startup,company_type_Funded Startup,company_type_NGO,company_type_Other,company_type_Public Sector,company_type_Pvt Ltd,company_type_Unknown,target
0,0.920000,1,3,21,1,3.610918,0,1,0,0,...,0,1,0,0,0,0,0,0,1,1.0
1,0.776000,0,3,15,5,3.871201,0,1,0,0,...,1,0,0,0,0,0,0,1,0,0.0
2,0.624000,0,3,5,0,4.430817,0,0,1,1,...,0,1,0,0,0,0,0,0,1,0.0
3,0.767000,1,4,21,4,2.197225,0,1,0,0,...,1,0,0,1,0,0,0,0,0,0.0
4,0.764000,1,3,11,1,3.218876,0,0,1,0,...,0,1,0,0,0,0,0,0,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20374,0.910424,0,3,1,1,3.768429,0,1,0,1,...,0,1,0,0,0,0,0,0,1,1.0
20375,0.920000,1,3,21,5,3.977006,0,1,0,0,...,0,1,0,0,0,0,0,0,1,1.0
20376,0.776281,0,4,15,3,4.716353,0,1,0,0,...,0,1,0,0,0,0,0,0,0,1.0
20377,0.624000,1,3,3,1,4.903192,0,1,0,0,...,0,1,0,0,0,0,0,1,0,1.0
20378,0.780978,0,3,2,0,3.940586,0,0,1,0,...,0,1,0,0,0,0,0,0,1,1.0

## Split Data Train-test

In [6]:
from sklearn.model_selection import train_test_split
X = df.drop(columns=['target'])
y = df['target']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [8]:
X_train.shape

(16303, 30)

## Logistic Regression Model

### 1. Modelling

### 2. Model Metrics Evaluation Before Tuning

### 3. Tuning HyperParameter

### 4. Model Metrics Evaluation After Tuning With Best Params

### 5. Feature Importances